*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(18, 43, 63);
  margin: 0;
  padding: 2;

}

body{
  width: 100%;
  overflow-x: hidden; /*hide the overflow of the page*/
}

a{
  text-decoration: none; /*do not decorate all the a tags*/
}


/*cool down button animation*/
@keyframes animateDown {
  0%, 20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(6px);
  }
  60%{
    transform: translateY(4px);
  }
}
